name: Publish Chrome Extension

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish-chrome:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Chrome Artifact
        id: download_artifact
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release download ${{ github.event.release.tag_name }} -p "Rolodink-chrome-*.zip"
          echo "zip_file=$(ls Rolodink-chrome-*.zip)" >> $GITHUB_OUTPUT

      - name: Publish to Chrome Web Store
        uses: mobilefirstllc/cws-publish@latest
        with:
          action: 'publish'
          client_id: ${{ secrets.CHROME_CLIENT_ID }}
          client_secret: ${{ secrets.CHROME_CLIENT_SECRET }}
          refresh_token: ${{ secrets.CHROME_REFRESH_TOKEN }}
          extension_id: ${{ secrets.CHROME_EXTENSION_ID }}
          zip_file: ${{ steps.download_artifact.outputs.zip_file }}
