name: Publish Edge Extension

on:
  release:
    types: [published]

jobs:
  publish-edge:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Edge Artifact
        id: download_artifact
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release download ${{ github.event.release.tag_name }} -p "Rolodink-edge-*.zip"
          echo "zip_file=$(ls Rolodink-edge-*.zip)" >> $GITHUB_OUTPUT

      - name: Publish to Edge Add-ons Store
        uses: wdzeng/edge-addon@v1
        with:
          product-id: ${{ secrets.EDGE_PRODUCT_ID }}
          client-id: ${{ secrets.EDGE_CLIENT_ID }}
          client-secret: ${{ secrets.EDGE_CLIENT_SECRET }}
          access-token-url: ${{ secrets.EDGE_ACCESS_TOKEN_URL }}
          zip-path: ${{ steps.download_artifact.outputs.zip_file }}
